.list-container {
  height: 10vh;
  width: 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-color: #c3caea;
  border-width: 1px;
  border-radius: 4px;
}

.delete-icon {
  height: 15px;
}
.delete-button {
  border-width: 0px;
  background-color: transparent;
}
p {
  font-size: 10px;
}
.change-Backc {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stars {
  height: 10px;
  width: 40px;
}
